<style type="text/css">
    .bn40 {
        font-family: 'NikoshBAN', 'SolaimanLipi', 'Siyam Rupali', 'Kalpurush', 'SutonnyBanglaOMJ', 'AponaLohit', 'Vrinda';
        font-size: 40px;
        font-weight: normal;
    }
</style>
<div align="center">
    <table border="0" width="1000" cellpadding="0" cellspacing="0">
        <tbody>
            <tr height="80" valign="top">
                <td align="center" valign="bottom">
                    <br>
                    <font class="bn40" color="#2062B0"><font class="bn48"><b>দেশব্যাপী বিনিয়োগ শিক্ষা</b></font></font>
                   
                </td>
            </tr>
            <tr height="157" valign="top">
                <td align="center"><a href="index.php"><img src="../images/financialliteracy_logo.png" border="0"></a></td>
                

            </tr>
        </tbody>
    </table>

    @*<div class="bn26" style="margin: 25 0 10 0; width:1000px;" align="left"><b>করণীয় ও বর্জনীয়</b></div>*@
    <br>

    <table border="0" width="900" cellpadding="0" cellspacing="0">
        <tbody>
            <tr valign="top" class="bn18">
                <td width="475" style="padding-left:5px;">
                    <b>বিনিয়োগকারীদের জন্য করনীয়ঃ</b><br><br>
                    <table border="0" cellpadding="5" cellspacing="0" class="bn17">
                        <tbody>
                            <tr valign="top"><td width="20"><img src="../images/bullet_g.png" border="0" height="12" style="margin-top:4px;"></td><td>আশাতিরিক্ত লাভজনক বিনিয়োগ প্রলোভন থেকে সাবধান থাকুন।</td></tr>
                            <tr valign="top"><td width="20"><img src="../images/bullet_g.png" border="0" height="12" style="margin-top:4px;"></td><td>আপনার আয়-ব্যয়ের সাথে সামঞ্জস্য রেখে ব্যক্তিগত বাজেট ও আর্থিক পরিকল্পনা করুন।</td></tr>
                            <tr valign="top"><td width="20"><img src="../images/bullet_g.png" border="0" height="12" style="margin-top:4px;"></td><td>বিভিন্ন বিনিয়োগ পণ্য ও খাতের ঝুঁকি সম্পর্কে জানুন।</td></tr>
                            <tr valign="top"><td width="20"><img src="../images/bullet_g.png" border="0" height="12" style="margin-top:4px;"></td><td>সঞ্চয় থেকে কোন সিকিউরিটিজ বা খাতে কত বিনিয়োগ করবেন সিদ্ধান্ত নিন।</td></tr>
                            <tr valign="top"><td width="20"><img src="../images/bullet_g.png" border="0" height="12" style="margin-top:4px;"></td><td>পর্যাপ্ত বিচার-বিশ্লেষণ করে বিনিয়োগ সিদ্ধান্ত নিন।</td></tr>
                            <tr valign="top"><td width="20"><img src="../images/bullet_g.png" border="0" height="12" style="margin-top:4px;"></td><td>আপনার হিসাবে রক্ষিত সিকিউরিটিজ ও অর্থের বিষয়ে সচেতন থাকুন।</td></tr>
                            <tr valign="top"><td width="20"><img src="../images/bullet_g.png" border="0" height="12" style="margin-top:4px;"></td><td>বিনিয়োগ সংক্রান্ত আইন-কানুন সম্পর্কে অবগত হয়ে বিধি-নিষেধ মেনে চলুন।</td></tr>
                            <tr valign="top"><td width="20"><img src="../images/bullet_g.png" border="0" height="12" style="margin-top:4px;"></td><td>পুঁজিবাজারে বিনিয়োগের ক্ষেত্রে কোম্পানীর আর্থিক অবস্থা, ব্যবস্থাপনা এবং অন্যান্য বিষয়ে ধারণা নিন।</td></tr>
                            <tr valign="top"><td width="20"><img src="../images/bullet_g.png" border="0" height="12" style="margin-top:4px;"></td><td>বাজার মধ্যস্থতাকারী প্রতিষ্ঠান সম্পর্কে খোঁজ-খবর নিয়ে বিনিয়োগ হিসাব খুলুন।</td></tr>
                            <tr valign="top"><td width="20"><img src="../images/bullet_g.png" border="0" height="12" style="margin-top:4px;"></td><td>বিনিয়োগ সিদ্ধান্ত আপনি নিজে নিন, প্রয়োজনে বিনিয়োগ বিশ্লেষকের সহয়াতা নিন।</td></tr>
                            <tr valign="top"><td width="20"><img src="../images/bullet_g.png" border="0" height="12" style="margin-top:4px;"></td><td>আপনার আর্থিক পরিকল্পনা অনুযায়ী বিভিন্ন ধরনের বিনিয়োগের মেয়াদ নির্ধারণ করুন।</td></tr>
                            <tr valign="top"><td width="20"><img src="../images/bullet_g.png" border="0" height="12" style="margin-top:4px;"></td><td>ঋণ গ্রহণের পূর্বে আপনার ঋণ পরিশোধের সঙ্গতি এবং ঋণের শর্তসমূহ বিবেচনা করে সিদ্ধান্ত নিন।</td></tr>
                            <tr valign="top"><td width="20"><img src="../images/bullet_g.png" border="0" height="12" style="margin-top:4px;"></td><td>আপনার কোন অভিযোগ থাকলে স্টক এক্সচেঞ্জ বা কমিশনকে অবহিত করুন।</td></tr>
                            <tr valign="top"><td width="20"><img src="../images/bullet_g.png" border="0" height="12" style="margin-top:4px;"></td><td>সময়মত বিনিয়োগ এবং বিক্রয় সিদ্ধান্ত গ্রহণ করুন।</td></tr>
                        </tbody>
                    </table>
                </td>

                <td width="10"></td>

                <td width="475" style="padding-right:5px;">
                    <b>বিনিয়োগকারীদের জন্য বর্জনীয়ঃ</b><br><br>
                    <table border="0" cellpadding="5" cellspacing="0" class="bn17">
                        <tbody>
                            <tr valign="top"><td width="20"><img src="../images/bullet_r.png" border="0" height="12" style="margin-top:4px;"></td><td>সঞ্চয়ের পুরোটা একই খাতে বিনিয়োগ নয়।</td></tr>
                            <tr valign="top"><td width="20"><img src="../images/bullet_r.png" border="0" height="12" style="margin-top:4px;"></td><td>আপনার সংগতির অতিরিক্ত ঋণ গ্রহণ করবেন না।</td></tr>
                            <tr valign="top"><td width="20"><img src="../images/bullet_r.png" border="0" height="12" style="margin-top:4px;"></td><td>কারো দ্বারা প্ররোচিত হয়ে বিনিয়োগ নয়।</td></tr>
                            <tr valign="top"><td width="20"><img src="../images/bullet_r.png" border="0" height="12" style="margin-top:4px;"></td><td>গুজবের ভিত্তিতে বিনিয়োগ নয়।</td></tr>
                            <tr valign="top"><td width="20"><img src="../images/bullet_r.png" border="0" height="12" style="margin-top:4px;"></td><td>"বিনিয়োগ মানে নিশ্চিত লাভ"- এই ধারনায় বিনিয়োগ নয়।</td></tr>
                            <tr valign="top"><td width="20"><img src="../images/bullet_r.png" border="0" height="12" style="margin-top:4px;"></td><td>অনিশ্চিত তথ্য বা চটকদার বিজ্ঞাপনে আকৃষ্ট হয়ে বিনিয়োগ নয়।</td></tr>
                            <tr valign="top"><td width="20"><img src="../images/bullet_r.png" border="0" height="12" style="margin-top:4px;"></td><td>অযৌক্তিক অতিরিক্ত দরে বিনিয়োগ নয়।</td></tr>
                            <tr valign="top"><td width="20"><img src="../images/bullet_r.png" border="0" height="12" style="margin-top:4px;"></td><td>প্রত্যেকটি বিনিয়োগে ক্ষতির ঝুঁকি রয়েছে বিধায় ঝুঁকি বিশ্লেষণ না করে বিনিয়োগ নয়।</td></tr>
                            <tr valign="top"><td width="20"><img src="../images/bullet_r.png" border="0" height="12" style="margin-top:4px;"></td><td>জ্ঞাতসারে বে-আইনী বা অননুমোদিত কোন খাতে বিনিয়োগ নয়।</td></tr>
                            <tr valign="top"><td width="20"><img src="../images/bullet_r.png" border="0" height="12" style="margin-top:4px;"></td><td>অপ্রাতিষ্ঠানিক খাতে বিনিয়োগ নয়।</td></tr>
                            <tr valign="top"><td width="20"><img src="../images/bullet_r.png" border="0" height="12" style="margin-top:4px;"></td><td>কোন অনুমোদনহীন দলিল বা ফরম এ স্বাক্ষর করবেন না।</td></tr>
                            <tr valign="top"><td width="20"><img src="../images/bullet_r.png" border="0" height="12" style="margin-top:4px;"></td><td>প্রয়োজনীয় অনুমোদন ব্যতীত ইস্যুকৃত কোন সিকিউরিটিজ বা চুক্তিপত্রে- আয়ের হার অনেক বেশী ও কম ঝুঁকিপূর্ণ বলে প্রতিশ্রুতি দিলেও বিনিয়োগ করবেন না। </td></tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>


</div>
