<section class="contact-us" id="contact">
    <div class="container">

        <!-- SECTION HEADER -->
        <div class="section-header">

            <!-- SECTION TITLE -->
            <h2 class="white-text">Get in touch</h2>

            <!-- SHORT DESCRIPTION ABOUT THE SECTION -->
            <h6 class="white-text">
                Have any question? Drop us a message. We will get back to you in 24 hours.
            </h6>
        </div>
        <!-- / END SECTION HEADER -->
        <!-- CONTACT FORM-->
        <div class="row">
            <form role="form" class="contact-form" id="contact_form" action="Home/GetInTouch" method="post">
                <div class="wow fadeInLeft animated animated" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.15s" style="visibility: visible;-webkit-animation-duration: 1.5s; -moz-animation-duration: 1.5s; animation-duration: 1.5s;-webkit-animation-delay: 0.15s; -moz-animation-delay: 0.15s; animation-delay: 0.15s;">
                    <div class="col-lg-4 col-sm-4">
                        <input name="name" placeholder="Your Name" class="form-control input-box" id="name" type="text">
                    </div>
                    <div class="col-lg-4 col-sm-4">
                        <input name="email" placeholder="Your Email" class="form-control input-box" id="email" type="email">
                    </div>
                    <div class="col-lg-4 col-sm-4">
                        <input name="subject" placeholder="Subject" class="form-control input-box" id="subject" type="text">
                    </div>
                </div>

                <div class="col-md-12 wow fadeInRight animated animated" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.15s" style="visibility: visible;-webkit-animation-duration: 1.5s; -moz-animation-duration: 1.5s; animation-duration: 1.5s;-webkit-animation-delay: 0.15s; -moz-animation-delay: 0.15s; animation-delay: 0.15s;">
                    <textarea name="message" class="form-control textarea-box" placeholder="Your Message" id="message"></textarea>
                </div>
                <!-- IF MAIL SENT SUCCESSFULLY -->
                <h4 class="success pull-left white-text">
                    Your message has been sent successfully.
                </h4>

                <!-- IF MAIL SENDING UNSUCCESSFULL -->
                <h4 class="error pull-left white-text">
                    E-mail must be valid and message must be longer than 1 character.
                </h4>
                <button class="btn btn-primary custom-button red-btn wow fadeInLeft animated animated" id="submit_contact" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.15s" type="submit" style="visibility: visible;-webkit-animation-duration: 1.5s; -moz-animation-duration: 1.5s; animation-duration: 1.5s;-webkit-animation-delay: 0.15s; -moz-animation-delay: 0.15s; animation-delay: 0.15s;">Send Message</button>
            </form>
        </div>
        <!-- / END CONTACT FORM-->
    </div> <!-- / END CONTAINER -->
</section>
@if (ViewBag.ErrorMsg != null)
{
    <div>@ViewBag.ErrorMsg</div>
}
<script>
    $(document).ready(function () {

         //get button by ID
        $('#submit_contact').submit(function (e) {
            e.preventDefault();

            //call a function with parameters
            $.ajax({
                url: 'Home/GetInTouch',  //(rec)= Controller's-name
                                         //(recieveData) = Action's method name
                type: 'POST',
                timeout: '12000', //(optional 12 seconds)
                datatype: 'text',
                data: {
                    //Get the input from Document Object Model
                    //by their ID
                    name: contact_form.name.value,
                    email: contact_form.email.value,
                },
                success: function (data) {

                    if (data.Message == undefined) {
                        // Use data like a partial
                    } else {
                        // Use data.Message for the message and data.AjaxReturn for the partial
                    }
                },
                    error: function (message) {
                        logOut($self, message);
                    }
            });
            return false;
        });
       
    });

</script>