
<div style="margin:20px">
    <div style="padding-top:20px">
        <div class="row">
            <div class="col-md-12 wow animated bounceInUp animation-delay-5">
                <p class="text-justify"><b style="color: #ac9121;">Sigma Capital Management Limited</b> offers excellent career prospects and opportunities in the local investment banking arena. SCML gives you the chance to work within one of its core business units, where you will be part of a team, delivering solutions to challenges set by clients/investors. You will be expected to contribute by sharing new and innovative ideas, providing research and analysis and actively participating in the marketing initiatives. The capabilities and work quality of our team are fundamental to the success of our business. We create a dynamic and optimal work environment by:</p>
            </div>
        </div>
    </div>
    
    <div class="row" style="padding-top: 20px; margin-left: 40px;">
        <ul class="fa-ul">
            <li><i class="fa-li fa fa-square"></i><p class="text-justify">Providing the environment, resources and development avenues that will enable career advancement based on talents and skills.</p></li>
            <li><i class="fa-li fa fa-square"></i><p class="text-justify">Rewarding our team with remuneration and benefits that mirror performance.</p></li>
            <li><i class="fa-li fa fa-square"></i><p class="text-justify">Ensuring that ideas, concerns and problems are identified and two way communication is successfully maintained.</p></li>
            <li><i class="fa-li fa fa-square"></i><p class="text-justify">Providing an environment that identifies, encourages and rewards distinction, innovation and quality client service delivery.</p></li>
        </ul>
    </div>
    <div class="row" style="padding-top:20px">
        <div class="col-md-12 wow animated bounceInUp animation-delay-5">
            <p class="text-justify">If you think you are dynamic, good team player and have potential to give drive for achieving the success goal, SCML welcomes you to strengthen the workforce.</p>
            <p class="text-justify">To be part of Sigma Capital Management Team please send your @Html.ActionLink("CV/Resume", "viewsendresume", "Partial", null, new { @class = "modal-link btn " })</p>
        </div>
    </div>
    <div class="row" style="padding-top:5px">
        @if (TempData["IsMailSent"] == "true")
        {
            <p class="text-success">@TempData["ResultMsg"].ToString()</p>
        }
        @if (TempData["IsMailSent"] == "false")
        {
            <p class="text-danger">@TempData["ResultMsg"].ToString()</p>
        }
    </div>
    </div>
